@import 'bootstrap';

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1.5rem;
  font-weight: 500;
}

.field_with_errors {
  .form-control{
    border-color: red;
  }
  label {
    color: red;
  }
}

